body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}
header, footer {
    background-color: #ee89c7;
    color: white;
    padding: 15px;
}
.site-title {
    color: #034641;
}
#my-image {
    box-shadow: 0 0 2px 1px black;
}
.hobby-list {
    list-style: square;
}
.hobby-list li:nth-child(odd) {
    background-color: rgb(224, 162, 162);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a:hover {
    background-color: #ac0a0a;
    color: rgb(75, 3, 3);
}
nav a{
  text-decoration: none;
}
